[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-crispy-forms = "*"
Pillow = "*"
PyVimeo = "*"
django-filter = "*"
python-magic = "*"
requests = "*"
urllib3 = "==1.22"

[dev-packages]

[requires]
python_version = "3"
