{% extends 'base.html' %}

{% block title %}
    Search results
{% endblock %}

{% block content %}
    <h3>You searched for...</h3>
    <table class="table table-striped">
        {% for result in search_results %}
            <tr>
                <td><a href="{% url 'shop:course-detail' result.pk %}">{{ result.title }}</a></td>
                <td><a href="{% url 'users:profile' result.teacher.pk %}">{{ result.teacher }}</a></td>
            </tr>
        {% empty %}
            <h4>It seems that your research has not produced any results!</h4>
        {% endfor %}
    </table>
{% endblock %}