{% extends 'base.html' %}

{% block title %}
    Delete video course
{% endblock %}

{% block content %}
    <h1>Delete a video course</h1>
    <h2>You are going to delete this video course!</h2>
    <h1>{{ object.title }}</h1>
    <h3>{{ object.author }}</h3>
    <p>{{ object.description }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Confirm">
        <a href="{% url 'shop:course-list' %}">Cancel</a>
    </form>
{% endblock %}