{% extends 'base_list.html' %}

{% block list_title %}
    Course Shop
{% endblock %}
{% block content_title %}
    Course Shop
{% endblock %}

{# TODO CAMBIARE ASPETTO SHOP, DA TABELLA A GRIGLIA DI CARTE#}
{% block tbody %}
    {% for course in object_list %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ course.teacher.username }} | {{ course.category }} |
                    €{{ course.price }}</h6>
                <p class="card-text">{{ course.description|truncatewords:"10" }}</p>
                <a href="{% url 'shop:course-detail' course.pk %}" class="btn btn-secondary">Watch</a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}