{% extends 'base.html' %}

{% block content %}
    {% block user_info %}

    {% endblock %}

    {% if userprofile.is_teacher %}
        <div style="margin-top: 20px">
            <h3>Published courses</h3>
            <table class="table">
                <thead>
                <tr>
                    {% block thead_teacher %}
                    {% endblock %}
                </thead>
                <tbody>
                {% block tbody_teacher %}

                {% endblock %}
                </tbody>
            </table>

            {% block table_after %}

            {% endblock %}
        </div>
    {% endif %}
    <br><br>
    {% if user.is_authenticated %}
        <h4>My courses</h4>
        {% block cards %}
        {% endblock %}
    {% endif %}

{% endblock %}