{% extends 'base.html' %}
{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <h1>Homepage</h1>
    <p>{% lorem %}</p>

    {% if user.is_authenticated %}
        <p>Hello {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a><br>
    {% else %}
        <a href="{% url 'user-create' %}">Sign in</a><br>
        <a href="{% url 'login' %}">Login</a><br>
    {% endif %}

    <a href="{% url 'shop:course-list' %}">CourseList</a><br>
    <a href="{% url 'homepage' %}">Homepage</a><br>
{% endblock %}