{% extends 'base.html' %}
{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <h1>Homepage</h1>
    <p>Let's do everything!</p>

    {% if user.is_authenticated %}
        <p>Hello {{ user.username }}!</p>
        <a href="{% url 'users:logout' %}">Logout</a><br>
{#        <a href="{% url 'profile' %}">My profile</a><br>#}
{#        <a href="{% url 'dashboard' %}">Dashboard</a><br>#}
    {% else %}
        <a href="{% url 'users:register' %}">Sign in</a><br>
        <a href="{% url 'users:login' %}">Login</a><br>
    {% endif %}

    <a href="{% url 'shop:course-list' %}">CourseList</a><br>
    <a href="{% url 'homepage' %}">Homepage</a><br>
{% endblock %}